{% extends "layout.html" %}
{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Домашняя страница
                </h2>
            </div>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':index') }}">Админ панель</a>
            </li>
            <li class="breadcrumb-item active">Домашняя страница</li>
        </ol>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Посты и оплаты ожидающие рассмотрения</h3>
                    </div>
                    <div class="card-body">
                        <div class="list-group card-list-group">
                            {% for post in posts %}
                                <div class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-fill d-flex flex-column">
                                            <h3>{{ post['post_text'][:50] }}</h3>
                                            <div class="d-flex flex-row">

                                                <a class="ms-0"
                                                   href="{{ url_for(__name__ ~ ':detail', identity='users',pk=post['user_id']) }}">
                                                    <i class="fa-solid fa-user"></i>
                                                    <i class="font-weight-bold">{{ post['user_fullname'] }}</i>
                                                </a>
                                            </div>
                                            <div class="d-flex flex-row mt-2">
                                                <span class="me-3 badge bg-purple-lt"><i class="fa fa-tag"></i>Заявка на пост</span>
                                            </div>

                                        </div>
                                        <div class="">
                                            <a class="btn btn-primary"
                                               href="{{ url_for(__name__ ~ ':detail', identity='schedule-posts',pk=post['post_id']) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for purchase in purchases %}
                                <div class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-fill d-flex flex-column">
                                            <h3>Пополнение баланса | {{ purchase['amount'] }}</h3>
                                            <div class="d-flex flex-row">
                                                <a class="ms-0"
                                                   href="{{ url_for(__name__ ~ ':detail', identity='users',pk=purchase['user_id']) }}">
                                                    <i class="fa-solid fa-user"></i>
                                                    <i class="font-weight-bold">{{ purchase['user_fullname'] }}</i>
                                                </a>
                                            </div>
                                            <div class="d-flex flex-row mt-2">
                                                <span class="me-3 badge bg-green-lt"><i class="fa fa-tag"></i>Пополнение</span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <a class="btn btn-success"
                                               href="{{ url_for(__name__ ~ ':detail', identity='top-up-operations', pk=purchase['purchase_id']) }}">
                                                <i class="fa fa-usd"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 m-lg-0 mt-4">
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Последние новые пользователи</h3>
                            </div>
                            <div class="card-body">
                                {% for user in users %}
                                    <div class="row g-3 align-items-center mb-3">
                                        <a href="#" class="col-auto">
                                        </a>
                                        <div class="col text-truncate">
                                            <a href="{{ url_for(__name__ ~ ':detail', identity='users', pk=user['user_id']) }}" class="text-reset d-block">
                                                <i class="fa-solid fa-user"></i>
                                                <i class="fw-bold">{{ user['user_fullname'] }}</i>
                                            </a>
                                            <div class="text-muted text-truncate mt-n1">Количество постов: {{ user['post_amount'] }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}